<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>filemanager</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
    <header>
        <div id="naglowek">
            <a href="/upload">upload</a>
            <a href="/filemanager">filemanager</a>
            <a href="/info">info</a>
        </div>
    </header>
    <main>
        <div class="lewy">
            <p id="pL">multiupload</p>
        </div>
        <div class="prawy">
        </div>
    </main>
</body>

</html>