<main>
    <div class="lewy">
        <p id="pL">multiupload</p>
    </div>
    <div class="prawy">
        <form id="formularz" enctype="multipart/form-data" method="POST" action="/handleUpload">
            <input type="file" multiple required accept="*/*" name="imageupload">
            <input type="submit" value="upload" id="przycisk">
        </form>
    </div>
</main>